﻿@model List<Dojo.Models.ViewModels.ListdojoViewModel>
@{
    ViewBag.Title = "Dojos";
}

<br />
<br />
<div class="row">
    <div class="col-md-12">

        <h2>@ViewBag.Title</h2>
        <div class="row" style="text-align:right;padding:5px">
            <a href="~/Dojo/NuevoDojo" class="btn btn-primary">Crear Dojo</a>
        </div>
        <table class="table">
            <tr>
                <th> </th>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th> </th>
                <th> </th>
            </tr>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <a class="btn btn-primary" href="~/Reto/Retos/@item.Id">Ver Dojo</a>

                    </td>
                    <td> @item.Id </td>
                    <td> @item.Nombre </td>
                    <td> @item.Descripcion </td>
                    <td>
                        <a class="btn btn-default" href="~/Dojo/EditarDojo/@item.Id">Editar</a>

                    </td>
                    <td>
                        <a class="btn btn-danger" href="~/Dojo/EliminarDojo/@item.Id">Eliminar</a>
                    </td>
                </tr>

            }

        </table>
        
    </div>
</div>


