﻿@model Dojo.Models.ViewModels.RetoViewModel
@{
    ViewBag.Title = "Editar Reto";
}

<br />
<br />
<br />

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("EditarReto", "Reto", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.Id_Dojo)
                @Html.TextBoxFor(d => d.Id_Dojo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Id_Dojo, null, new { @class = "red" })

            </div>

            <div>
                @Html.LabelFor(d => d.Descripcion)
                @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Descripcion, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(d => d.Valoracion_Reto)
                @Html.TextBoxFor(d => d.Valoracion_Reto, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Valoracion_Reto, null, new { @class = "red" })
            </div>

            <br />
            <div>
                @Html.LabelFor(d => d.Fecha_Apertura)<br />
                @Html.EditorFor(d => d.Fecha_Apertura, null, new { @class = "red" })
            </div>
            <br />
            <div>
                @Html.LabelFor(d => d.Fecha_Cierre)<br />
                @Html.EditorFor(d => d.Fecha_Cierre, null, new { @class = "red" })
            </div>

            <br />
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>

}
