﻿@model List<Dojo.Models.ViewModels.ListMiembroViewModel>
@{
    ViewBag.Title = "Miembros Reto";
}

<br />
<br />

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th># Dojo</th>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>Reto</th>
                <th>Puntuación en el reto</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Id </td>
                    <td>@item.Id_Dojo</td>
                    <td> @item.Nombre </td>
                    <td> @item.E_mail </td>
                    <td>@item.Id_Reto</td>
                    <td>@item.Puntuacion_Reto</td>
                </tr>
            }
        </table>
    </div>
</div>

