﻿@model List<Dojo.Models.ViewModels.ListretosViewModel>
@{
    ViewBag.Title = "Retos";
}

<br />
<br />
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <div class="row" style="text-align:right;padding:5px">
            <a href="~/Reto/NuevoReto" class="btn btn-primary">Crear Reto</a>
        </div>
        <table class="table">
            <tr>
                <th> </th>
                <th>#</th>
                <th>Dojo</th>
                <th>Fecha Apertura</th>
                <th>Fecha Cierre</th>
                <th>Valoración Reto</th>
                <th>Descripción Reto</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <a href="~/Reto/MiembrosReto/@item.Id" class="btn btn-primary">Ver miembros</a>
                    </td>
                    <td> @item.Id </td>
                    <td> @item.Id_Dojo </td>
                    <td> @item.Fecha_Apertura</td>
                    <td> @item.Fecha_Cierre </td>
                    <td> @item.Valoracion_Reto </td>
                    <td> @item.Descripcion </td>
                    <td>
                        <a class="btn btn-default" href="~/Reto/EditarReto/@item.Id">Editar</a>

                    </td>
                    <td>
                        <a class="btn btn-danger" href="~/Reto/EliminarReto/@item.Id">Eliminar</a>
                    </td>
                    
                </tr>
            }
        </table>
        
    </div>
</div>

