﻿@model List<Dojo.Models.ViewModels.ListretosViewModel>
@{
    ViewBag.Title = "Añadir Reto";
}

<br />
<br />
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Dojo</th>
                <th>Fecha Apertura</th>
                <th>Fecha Cierre</th>
                <th>Valoración Reto</th>
                <th>Descripción Reto</th>
                <th> </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.Id_Dojo </td>
                    <td> @item.Fecha_Apertura</td>
                    <td> @item.Fecha_Cierre </td>
                    <td> @item.Valoracion_Reto </td>
                    <td> @item.Descripcion </td>
                    <td>
                        <div style="text-align:right;">
                            <input value="Unirse" class="btn btn-primary" type="submit" />
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>