﻿@model Dojo.Models.ViewModels.MiembroViewModel
@{
    ViewBag.Title = "Editar Miembro";
}

<br />
<br />
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("EditarMiembro", "Miembro", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.Id_Dojo)
                @Html.TextBoxFor(d => d.Id_Dojo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Id_Dojo, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.E_mail)
                @Html.TextBoxFor(d => d.E_mail, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.E_mail, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Id_Reto)
                @Html.TextBoxFor(d => d.Id_Reto, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Id_Reto, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Puntuacion_Reto)
                @Html.TextBoxFor(d => d.Puntuacion_Reto, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Puntuacion_Reto, null, new { @class = "red" })
            </div>
            <br />
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}
