﻿@model List<Dojo.Models.ViewModels.ListMiembroViewModel>
@{
    ViewBag.Title = "Miembros";
}

<br />
<br />

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <div class="row" style="text-align:right;padding:5px">
            <a href="~/Miembro/NuevoMiembro" class="btn btn-primary">Añadir Miembro</a>
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th>#</th>
                <th># Dojo</th>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>Reto</th>
                <th>Puntuación en el reto</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="~/Miembro/AñadirReto/@item.Id_Dojo" class="btn btn-primary">Añadir reto</a>
                    </td>
                    <td> @item.Id </td>
                    <td>@item.Id_Dojo</td>
                    <td> @item.Nombre </td>
                    <td> @item.E_mail </td>
                    <td>@item.Id_Reto</td>
                    <td>@item.Puntuacion_Reto</td>
                    <td>
                        <a class="btn btn-default" href="~/Miembro/EditarMiembro/@item.Id">Editar</a>

                    </td>
                    <td>
                        <a class="btn btn-danger" href="~/Miembro/EliminarMiembro/@item.Id">Eliminar</a>
                    </td>
                </tr>

            }
        </table>
    </div>
</div>
