﻿@model Dojo.Models.ViewModels.MiembroViewModel
@{
    ViewBag.Title = "Nuevo Miembro";
}

<br />
<br />

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("NuevoMiembro", "Miembro", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <h5>Los datos con (*) son requeridos.</h5>
            <div>
                @Html.LabelFor(d => d.Id_Dojo)
                @Html.TextBoxFor(d => d.Id_Dojo, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Id_Dojo, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.E_mail)
                @Html.TextBoxFor(d => d.E_mail, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.E_mail, null, new { @class = "red" })
            </div>
            
            <br />
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>
}

